<div class="h-100">
  <CheckBoxGroup :value.sync="checkboxVal" :data="columnsData"></CheckBoxGroup>
  <el-table
    default-expand-all
    row-key="id"
    :key="key"
    v-loading="$store.state.Loading.loading"
    highlight-current-row
    ref="multipleTable"
    :data="data"
    border
    style="width: 100%;"
    @selection-change="changeFun"
  >
    <template v-for="column in formThead">
      <el-table-column
        v-if="column.type"
        :type="column.type"
        :key="column.desc"
        align="center"
        :label="column.name"
        :width="column.width===undefined?'auto':column.width"
        :sortable="column.sortable?true:false"
        :fixed="column.fixed"
      >
      </el-table-column>
      <el-table-column
        :prop="column.desc"
        v-if="!column.type"
        :key="column.desc"
        :label="column.name"
        :width="column.width===undefined?'auto':column.width"
        :sortable="column.sortable?true:false"
        :fixed="column.fixed"
      >
        <template slot-scope="scope">
          <div v-if="column.btns" :style="'text-align:center;'+column.style">
            <el-button
              v-for="(btn ,index) in column.btns"
              size="mini"
              :class="btn.btnClass"
              :key="index"
              :type="btn.btnType"
              @click="btnHandle(btn.method, scope.row)"
              >{{ btn.name }}
            </el-button>
          </div>
          <div
            v-else-if="column.switch"
            :style="'text-align:center;'+column.style"
          >
            <el-switch
              v-model="scope.row[column.desc]"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="switchHandle(scope.row[column.desc], scope.row)"
            >
            </el-switch>
          </div>
          <div
            v-else-if="column.img"
            :style="'text-align:center;'+column.style"
          >
            <el-image
              style="width: 100px; height: 100px"
              :src="scope.row[column.desc]"
              fit="fill"
            ></el-image>
          </div>
          <div
            v-else
            :style="column.style"
          >
            <template>
              <span
                v-if="column.formatter"
                v-html="column.formatter(scope.row[column.desc], column)"
              ></span>
              <div v-html="scope.row[column.desc]" v-else></div>
            </template>
          </div>
        </template>
      </el-table-column>
    </template>
  </el-table>
  <Pagination
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
  ></Pagination>
</div>
